<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aman.project.remoteppt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="aman.project.remoteppt.ServerScanner"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="aman.project.remoteppt.FileViewer"
            android:label="@string/title_activity_file_viewer"
            android:configChanges="orientation" >
        </activity>
        
        <activity
            android:name="aman.project.remoteppt.MakeConnection"
            android:label="@string/title_activity_make_connection"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity 
            android:name="aman.project.remoteppt.PresetationViewer"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboard" >
        </activity>
        <activity 
            android:name="DownloadFiles"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        
    </application>

</manifest>